<div class="wrapper">

  <div class= "side-bar">
    <%= render "items/side_bar"%>
  </div>

  <div class="main-display">
    <div class="top-display">
      <div class="top-display-title">
        納期表 > 店舗選択
      </div>
      <div class="top-display-instruction">
        <p>※下記より選択</p>
      </div>
    </div>

    <div class="lower-display">
      <%if @companies.present? %>
        <% @companies.each do |company|%>
          <div class="company-display-content">
            <%= link_to company.name, company_path(company.id) %>
          </div>
        <% end %>
      <% else %>
        <p>登録企業なし</p>
      <% end %>
    </div>
  </div>

</div>