<div class="wrapper">

  <div class= "side-bar">
    <%= render "items/side_bar"%>
  </div>

  <div class="main-display">
    <div class="top-display">
      <div class="top-display-title">
        注文受付 > 企業選択
      </div>
      <div class="top-display-instruction">
        <p>※下記より選択</p>
      </div>
    </div>

    <div class="lower-display">
      <div class="sort-by-code", id="sort-by-code-display">
        <%if @companies %>
          <% @companies.each do |company|%>
            <div class="company-display-content">
              <%= link_to company.name, recieve_company_shops_path(company.id) %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>