<div class="side-header">
  <div class="app-name">
    在庫管理Z
  </div>
</div>

<div class="side-contents">
  <div class="side-item content">
    <div class="side-item-header">
      商品
    </div>
    <div class="side-item content-btn">
      <ul>
        <li><%=link_to '一覧表示', items_path %></li>
        <li><%=link_to '登録', new_item_path %></li>
      </ul>
    </div>
  </div>

  <div class="side-item content">
    <div class="side-item-header">
      企業・店舗
    </div>
    <div class="side-item content-btn">
      <ul>
        <li><%=link_to '一覧表示', companies_path %></li>
        <li><%=link_to '登録', new_company_path %></li>
      </ul>
    </div>
  </div>

  <div class="side-order">
    <a href="#">注文受付</a>
  </div>
</div>