<div class="wrapper">
  <div class= "side-bar">
    <%= render "side_bar"%>
  </div>
  <div class="item-display">
    <%= render "item_display_header"%>
    <%= render "item_display_content"%>
  </div>
</div>