/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* 全体 */
 * {
   box-sizing: border-box;
 }

 /* 全体画面の左右の並び */
 .wrapper {
  display: flex;
}

/* 全体画面の左側(項目選択画面) */
.side-bar {
  width: 200px;
  height: 100vh;
  border-right: 2px solid black;
  padding: 20px;
}

.side-header {
  height: 100px;
}

.app-name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 3px solid black;
  text-align: center;
}

/* 全体画面の右側(メイン表示画面) */

.main-display {
  background-color:white;
  width: calc( 100% - 150px);
  height: 100vh;
  position: relative;
}

/* メイン表示画面の上部(タイトルなどの部分) */
.top-display {
  background-color: white;
  border-bottom: 1.5px solid black;
  height: 220px;
}

.top-display-title {
  padding: 10px 10px 5px;
}

.top-display-instruction {
  font-weight: bold;
  padding: 20px;
}

.lightblue {
  background-color: lightblue;
}

/* メイン表示画面の下部(主に表を表示する部分) */
.lower-display {
  height: calc(100vh - 250px);
  overflow: scroll;
  margin: 10px;
}

/* 表 */
.first-row {
  position: absolute;
  z-index: 0;
  background-color: white;
}

th {
  background-color: lightgray;
  font-weight: bold;
}

th, td {
  height: 25px;
  border: 1px solid black;
  text-align: center;
}

.th-edit, .th-destory, .th-select, .th-confirm {
  width: 50px;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.list-title {
  font-size: 20px;
  margin-top: 10px;
  font-style: italic;
}


/* フォーム */
.form {
  border: none;
  text-align: center;
}

.submit-form {
  width: 49px;
}

/* エラー */
.error-alert ul {
  display: flex;
}

.error-message {
  color: red;
  font-size: 12px;
}

/* リンクボタン */

a {
  text-decoration: none;
  color: black;
  opacity: 70% ;
}

a:hover {
  opacity: 100%;
}