.item-indicate-btn ul {
  display: flex;
}

.item-indicate-btn li {
  margin-left: 20px;
  padding: 10px;
  border: 1px solid black;
}

.import-file {
  margin: 10px;
  padding: 5px;
  background-color: lightgrey;
  width: 480px;
}

.import-file p {
  font-weight: bold;
}

.item-form-and-error {
  margin-left: 10px;
  display: flex;
  width: 1200px;
}

.item-form {
  height: 30px;
  border: none;
}

.item-category-form {
  width: 100px;
}

.item-code-form {
  width: 100px;
}

.item-name-form {
  width: 200px;
}

.item-stock-form {
  width: 100px;
}

.item-monthly-sales-form {
  width: 150px;
}

.item-submit-form {
  width: 40px;
}

.sort-by-category, .sort-creation-list {
  display: none;
}

.category-name {
  font-size: 20px;
  margin-top: 10px;
}

.creation-list-title {
  font-size: 20px;
  margin-top: 10px;
}

.td-item-name {
  width: 200px;
}

.td-item-stock {
  width: 100px;
}

.td-item-category {
  width: 100px;
}

.td-item-code {
  width: 100px;
}

.td-item-name {
  width: 200px;
}

.td-item-stock {
  width: 100px;
}

.td-item-monthly-sales {
  width: 150px;
}

.th-item-category {
  width: 100px;
}

.th-item-code {
  width: 100px;
}

.th-item-name {
  width: 200px;
}

.th-item-stock {
  width: 100px;
}

.th-item-monthly-sales {
  width: 150px;
}