.wrapper {
  display: flex;
}

.side-bar {
  background-color: lightgreen;
  width: 150px;
  height: 100vh;
  border-right: 2px solid green;
  padding: 10px;
}

.side-header {
  height: 100px;
}

.content {
  height: 200px;
  display: flex;
  flex-direction: column;
}

.content-btn {
  display: flex;
  flex-direction: column;
}

.content-btn ul {
  margin: 1em 0;
  padding-left: 30px;
  list-style-type: disc;
}

.item-display {
  background-color:white;
  width: calc( 100% - 150px);
  height: 100vh;
}

.item-header {
  background-color: white;
  border-bottom: 1.5px solid black;
  height: 120px;
}

.item-header-title {
  padding: 10px 10px 10px;
}

.item-indicate-btn ul {
  display: flex;
}

.item-indicate-btn li {
  margin-left: 20px;
  padding: 10px;
  border: 1px solid black;
}

.item-form-and-error {
  margin-left: 10px;
  display: flex;
  width: 1200px;
}

.item-form {
  display: flex;
}

.item-form p {
  font-size: 14px;
}

.item-form-btn {
  margin: 10px 0 0 10px;
  padding: 5px;
}

.error-alert ul {
  display: flex;
}

.error-message {
  color: red;
  font-size: 14px;
}

.sort-by-category, .sort-creation-list {
  display: none;
}

.category-name {
  font-size: 20px;
  margin-top: 10px;
}

.creation-list-title {
  font-size: 20px;
  margin-top: 10px;
}

.order-display-contents {
  height: calc(100vh - 120px);
  overflow: scroll;
}

.order-display-content ul {
  display: flex;
}

.lightblue {
  background-color: lightblue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}